.input-text {
    width: 100%;
  }
  
.container {
    border: 1px solid #D8C4B6;
    border-radius: 4px;
    margin: 1em 0;
    padding: 0;
    display: block;
}

.container-header {
    background-color: #F5EFE7;
    padding: 0.5em 1em;
    border-bottom: 1px solid #D8C4B6;
}

.container-body {
    padding: 1em;
}

.container-bottom {
    border-top: 1px solid #D8C4B6;
}

.info-item {
    text-align: center;
    padding: 1em 0;
    cursor: pointer;
}
@media (min-width: 1400px){
    .container{
        max-width: 100%;
    }    
}

@media (min-width: 576px){
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
}