.mangaCard{
    position: relative;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1em 1em;
    border: 1px solid #D8C4B6;
    border-radius: 5px;
}

.mangaCard img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
}

.mangaCard .name{
    left: auto;
    width: 100%;
    height: 50px;
    background: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    bottom: 0;
    text-decoration: none;
}

.mangaCard .info{
    left: auto;
    width: 100%;
    height: 50px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    bottom: 0;
}

.mangaCard:hover .info{
    font-weight: bold;
}

.mangaCard:hover{
    cursor:pointer;
}
