.mangaCard{
    width: 20%;
    position: relative;
    height: 100%;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.mangaCard img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%;
    height: 100%;
}

.mangaCard .name{
    position: absolute;
    left: auto;
    width: 100%;
    height: 50px;
    background: transparent;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 0;
}

.mangaCard .info{
    left: auto;
    width: 100%;
    height: 50px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    bottom: 0;
}

.mangaCard:hover .name{
    font-weight: bold;
    text-decoration: underline;
}

.mangaCard:hover{
    cursor:pointer;
}
