@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Irish+Grover&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #D9D9D9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
}

.container {
    display: flex;
    align-items: center;
}

.brand {
    color: #89D5C9;
    font-family: 'Irish Grover';
    font-size: xx-large;
}

li,
a,
button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {

    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;

}

.nav__links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}