h1.title {
    font-size: 28px;
    color: #213555;
}

@media only screen and (max-width: 600px)  {
    h1.title {
        font-size: 18px;
        color: #213555;
    }
}

.container-book {
    border: 1px solid #213555;
    border-radius: 12px;
}

.container-book [class*='col-']:not(:first-child) {
    margin-left: 4px;
}

.container-book [class*='col-']:not(:last-child) {
    margin-right: 4px;
}