.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0px;
}

.option {
  min-width: 150px;
  margin: 0px 16px;
}

.add-button {
  background-color: '#4F709C';
  width: fit-content;
  margin-bottom: 16px;
}