.category-item-list {
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    background-color: #F5EFE7;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 0.5em;
    margin-right: 0.5em;
}